#headerContainer {
	margin:10px 20px 0px 20px;
	height:150px;
	background-color:skyblue;
}

#headerLogo {
	height:130px;
	width: 130px;
	background-color: grey;
	margin: 10px 10px 10px 10px;
}

#headerTitle {
	font-size: 50px;
	margin: 40px 0px 60px 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#headerSearch {
	height: 20px;
	margin-top: 60px;
}

#bodyContainer {
	padding: 50px 40px 20px 40px;
	background-color: white;
	background-image: url("../src/images/vincent.jpg");
	background-size: cover;
	height: 100vh;
}

#cityContainer {
	/*margin: 20px;*/
	box-shadow: 8px 8px 5px #888888;
	background-color: #EBE8E8;
	height: 80vh;
	overflow-y:scroll;
}

.postCityImage {
	/*height: 100px;
	width: auto;*/
	max-width:100%;
	height:30vh;
}

#postContainer {
	/*margin: -10px;*/
	background-color: lightgrey;
	height: 80vh;
	overflow-y:scroll;
	box-shadow: 8px 8px 5px #888888;
}

.cityComponent {
	height: 15vh;
	width: 90%;
	background-color: #C7C5C5;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;

}

.postComponent {
	height: 15vh;
	width: 90%;
	background-color: #C7C5C5;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;
	word-wrap: break-word;
	overflow: hidden;

}

.cityImg {
	margin-top: 1vh;
	height:13vh;
	width: auto;
}

.cityName {
	margin-top: 6vh;
	width:auto;
}

.expandPost {
	height: auto;
}