#headerContainer {
	margin:10px 20px 0px 20px;
	height:150px;
	background-color:skyblue;
}

#headerLogo {
	height:130px;
	width: 130px;
	background-color: grey;
	margin: 10px 10px 10px 10px;
}

#headerTitle {
	font-size: 50px;
	margin: 40px 0px 60px 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#headerSearch {
	height: 20px;
	margin-top: 60px;
}

#bodyContainer {
	margin: 20px 40px 20px 40px;
	background-color: yellow;
	height: 80vh;
}

#cityContainer {
	/*margin: 20px;*/
	border: 10px groove;
	background-color: lightgreen;
	height: 80vh;
	overflow-y:scroll;
}

.cityImage {
	height: 100px;
	width: auto;
}

#postContainer {
	/*margin: -10px;*/
	border: 10px groove;
	background-color: lightgrey;
	height: 80vh;
	overflow-y:scroll;
}

.cityComponent {
	height: 15vh;
	width: 90%;
	background-color: grey;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.postComponent {
	height: 15vh;
	width: 90%;
	background-color: red;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

#addPostBtn {

}

footer {
	height:100px;
	background-color: red;
}