.profile-body {
  /*background: #DDDDDD;*/
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Arial";
  color: #333333;
  background-image: url("../src/images/jungle.jpg");
  background-size: cover;
}

.profile-container {
  max-width: 1250px;
  margin: 30px auto 30px;
  padding: 0 !important;
  width: 90%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  opacity: 0.9;
}

header {
  background: #eee;
  background-image: url("https://image.noelshack.com/fichiers/2017/38/2/1505775648-annapurnafocus.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: red;
  height: 250px;
}

header i {
  position: relative;
  cursor: pointer;
  right: -96%;
  top: 25px;
  font-size: 18px !important;
  /*color: #fff;*/
  color: #333333;
}

@media (max-width:800px) {
  header {
    height: 150px;
  }

  header i {
    right: -90%;
  }
}

.profile-main {
      padding: 20px 20px 20px 20px;
      background-color: #EEEEEE;
      margin-bottom: 30px;
}

hr {
  border-color:black;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.photo {
  width: 20%;
  height: 25vh;
  margin: auto;
  border-radius: 100%;
  border: 4px solid #fff;
}

.info {
  margin-top: -5px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  /*font-size: 11pt;*/
  font-size: 20px;
  /*color: #aaa;*/
  color: #333333;
  text-align: center;
}

.info h4,p {
  margin:2px 0 2px 0;
}

.info-name {
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.stats {
  margin-top: 25px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
  font-family: 'Montserrat', sans-serif;
}


.number-stat {
  padding: 0px;
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  /*color: #aaa;*/
  color: #333333;
}

.desc-stat {
  margin-top: -15px;
  font-size: 10pt;
  /*color: #bbb;*/
  color: #333333;
}

.desc {
  text-align: center;
  margin: 25px 0 10px 0;
  /*color: #999;*/
  color: #333333;
  font-size: 11pt;
  font-family: "Open Sans";
  padding-bottom: 5px;
  border-bottom: 1px solid #ededed;
}

.post{
  text-align: center;
  margin-top: 25px;
  margin: 25px 40px;
  /*color: #999;*/
  color: #333333;
  font-size: 200%;
  font-family: "Open Sans";
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}

.social {
  margin: 5px 0 12px 0;
  text-align: center;
  display: inline-block;
  font-size: 20pt;
}

.social i {
  cursor: pointer;
  margin: 0 15px;
}

.social i:nth-child(1)  { color: #4267b2; }
.social i:nth-child(2)  { color: #1da1f2; }
.social i:nth-child(3)  { color: #bd081c; }
.social i:nth-child(4)  { color: #36465d; }

.right {
  padding: 0 25px 0 25px !important;
}



.follow {
  position: absolute;
  right: 8%;
  top: 35px;
  font-size: 11pt;
  background-color: #42b1fa;
  color: #fff;
  padding: 8px 15px;
  cursor: pointer;
  transition: all .4s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.follow:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2), 0 0 15px rgba(0,0,0,0.2);
}

@media (max-width:990px) {
  

  .follow {
    width: 50%;
    margin-left: 25%;
    display: block;
    position: unset;
    text-align: center;
  }
}
.gallery  {
  margin-top: 35px;
}

.gallery div {
  margin-bottom: 30px;
}

.gallery img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  width: auto;
  height: auto;
  cursor: pointer;
  max-width: 100%;
}

.photo-left{
  margin-bottom: 2%;
  text-align: center;
}

#profile-post-panel {
  height: 85vh;
  overflow-y: scroll;
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 20px;
  background-color: #d1c5b5;
  border-radius: 8px;
}

.profile-post {
    /*display: table;*/
    height: 15vh;
  width: 90%;
  background-color: #ffcfcf;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
    word-wrap: break-word;
    overflow: hidden;
}

.expandPost {
  height: auto;
}

.profile-post p, h4{
    text-align: center;
    vertical-align: middle;
  }
